:root{
    --color-principal: #757575;
    --color-lineas: #212121;
    --font-principal: 'Roboto';
    --font-secundario: 'Raleway';
 } 
body {
    font-family: var(--font-principal);
    font-family: var(--font-secundario);
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
    width: 100%;
    max-width: calc(1600px - 430px);
    margin: 0 auto;
}
img {
    max-width: 100%
}
.head {
    margin-bottom: 106px;
}
.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-web {
    font-family: "Releway";
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #2196F3;
}
/* Lista de Navegación */
.head-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 93 px;
    margin-right: auto;
}
.head-options {
    display: flex;
    gap: 50px;
    padding: 0;
}
.link-nav {
    font-style: "normal";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color:#212121
}
/* Información de contacto */
.head-contact {
    display: flex;
    gap: 50px;
}
.background-
