:root{
    --color-principal: #757575;
    --color-lineas: #212121;
    --font-principal: 'Roboto';
    --font-secundario: 'Raleway';
 } 
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
    background-color: #FFFFFF;
    font-family: var(--font-principal), sans-serif;
    font-family: var(--font-secundario), sans-serif;
    color: var(--color-principal);
    font-size: 14px;
    letter-spacing: 0.03em;
}


a {
    text-decoration: none;
}
li {
    list-style: none;
}
.container {
    width: 100%;
    max-width: calc(1600px - 430px);
    margin: 0 auto;
}
img {
    max-width: 100%
}
.header {
    margin-bottom: 106px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-web {
    font-family: "Releway";
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #2196F3;
}
/* Lista de Navegación */
.header-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 93 px;
    margin-right: auto;
}
.header-options {
    display: flex;
    gap: 50px;
    padding: 0;
}
.link-nav {
    font-style: "normal";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color:#212121
}
/* Información de contacto */
.header-contact {
    display: flex;
    gap: 50px;
}
.background-
